<div class="Search">
    搜索：<input ng-model="lkCtrl.filterKey">
</div>
<div class="Links">
    <!-- Note that inside the repeat item there should be no same tag in it -->
    <!-- or it may cause some mistake. -->
    <a class="Links-item"
       ng-repeat="item in lkCtrl.links | filter: lkCtrl.filterKey"
       ng-href="{{ item.url }}"
       title="{{ item.desc }}"
       target="_blank">
      <span class="Links-itemTitle"
            ng-bind="item.title"></span>
      <span class="Links-itemDesc"
            ng-bind="item.desc"></span>
    </a>
</div>
